<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Info</title>
</head>
<body>
<h1>Info</h1>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>username</th>
        <th>password</th>
        <th>accounttype</th>
    </tr>
    </thead>
    <tbody>
    {% for obj in data_list %}
        <tr>
            <td>{{ obj.id }}</td>
            <td>{{ obj.username }}</td>
            <td>{{ obj.password }}</td>
            <td>{{ obj.accounttype }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

</body>
</html>